<h3>ProductList</h3>

@using Microsoft.AspNetCore.Components.Web
@using ContosoCrafts.Models
@using ContosoCrafts.Services
@inject JsonFileProductService ProductServices
  

<div class="card-columns">
    @foreach (var product in ProductServices.GetProducts())
    {
        <div class="card">
            <div class="card-img" style="background-image: url('@product.Image');"></div>
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    <button @onclick="(e => SelectProduct(product.Id)" class="btn btn-primary" data-toggle="modal" data-target="#productModal">More Info</button>
                </small>
            </div>
        </div>
    }

</div>

@code {
    Product selectProduct;
    string selectProductId;

    void SelectProduct(string productId)
    {
        selectProductId = productId;
        selectProduct = ProductServices.GetProducts().First(x => x.Id == productId);

    }
}
